.mobile {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/img/common/Bg.png) no-repeat;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;

  .commonSection {
    width: @primary-screen-width-mobile;
    height: @primary-screen-height-mobile;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }

  .tabs {
    display: flex;
    height: 32px;
    margin-bottom: 2px;

    >div {
      width: 160px;
      height: 32px;
      font-size: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #BB2ADA;
      background: #fff;
      margin-right: 2px;
      border-radius: 6px 6px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .active {
      color: #fff;
      background: linear-gradient(to right, #BB5DF8, #4FEAFF);
    }
  }

  .content {
    flex: 1;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.8);
    padding: 0 16px 20px 16px;
    color: #000;
  }

  .itemDom {
    padding: 20px 0;
    border-bottom: 1px solid #000;

    .leftDom {
      margin-bottom: 16px;
      text-align: center;

      img {
        width: 204px;
        height: 86px;
        margin: 0 auto ;
      }

     


    }

    .rightDom {
      flex: 1;
      .titDom {
        margin-bottom: 10px;
        .tit {
          font-size: 18px;
          font-weight: 600;
          text-align: center;
        }
      }

      .des {
        font-size: 10px;
        word-wrap: break-word;
        margin-bottom: 12px;
        line-height: 14px;
        color: #424242;
      }

      .timer {
        >span {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .show {
          font-size: 12px;
          color: #F71111;
          text-align: center;
        }

        .button0 {
          width: 211px;
          height: 36px;
          text-align: center;
          line-height: 36px;
          font-size: 13px;
          background: #CACACA;
          color: #969696;
          cursor: no-drop;
          margin: 15px auto 8px;
        }

        .button {
          width: 211px;
          height: 36px;
          text-align: center;
          line-height: 36px;
          font-size: 13px;
          background: #564083;
          color: #fff;
          cursor: pointer;
          margin: 15px auto 8px;

        }
      }
      .start {
        color: #424242;
        font-size: 12px;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;

      }

      .end {
        color: #424242;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;


      }
    }
  }
}







.mainContent {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../../assets/img/common/Bg.png) no-repeat;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .float {
    position: absolute;
    right: 0;
    top: 200px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bb2a2a;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    line-height: 50px;

  }

  .commonSection {
    width: @primary-screen-width;
    height: @primary-screen-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tabs {
    display: flex;
    height: 45px;
    margin-bottom: 3px;

    >div {
      width: 160px;
      height: 45px;
      font-size: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #BB2ADA;
      background: #fff;
      margin-right: 8px;
      border-radius: 6px 6px 0 0;
    }

    .active {
      color: #fff;
      background: linear-gradient(to right, #BB5DF8, #4FEAFF);
    }
  }

  .content {
    flex: 1;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.8);
    padding: 0 50px 50px 50px;
    color: #000;
  }

  .content1 {
    flex: 1;
    overflow-y: scroll;
    // background: rgba(255, 255, 255, 0.8);
    padding: 0 50px 50px 50px;
    color: #000;
  }

  .itemDom {
    display: flex;
    padding: 50px 0;
    border-bottom: 1px solid #000;

    .leftDom {
      margin-right: 50px;
      width: 204px;

      img {
        width: 204px;
        height: 86px;
        margin-bottom: 12px;
      }

      .start {
        color: #424242;
        font-size: 12px;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;

      }

      .end {
        color: #424242;

        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;


      }
    }

    .rightDom {
      flex: 1;
      padding-right: 50px;

      .titDom {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        margin-bottom: 10px;

        .tit {
          font-size: 18px;
          color: #313131;
          font-weight: bold;
        }

        >span {
          display: flex;
          align-items: center;
        }

      }

      .des {
        font-size: 12px;
        color: #424242;
        line-height: 20px;
      }
    }

    .buttonDom {
      width: 211px;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .button0 {
        width: 211px;
        height: 46px;
        text-align: center;
        line-height: 46px;
        font-size: 15px;
        background: #CACACA;
        color: #969696;
        cursor: no-drop;
      }

      .button {
        width: 211px;
        height: 46px;
        text-align: center;
        line-height: 46px;
        font-size: 15px;
        background: #594081;
        color: #fff;
        cursor: pointer;
      }

      .show {
        height: 30px;
        font-size: 14px;
        color: #F71111;
        line-height: 30px;
      }
    }
  }
}