.mainContent {
    width: 100vw;
    height: 100vh;
    background: url(../../assets/img/common/Bg.png) no-repeat;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .commonSection {
   width: 850rem;
   height: 692rem;
    background: rgba(255,255 ,255,0.8);
  }
  .innerTop{
    height: 155rem;
    background: #fff;
  }
  .content{
    width: 567rem;
    margin: 0 auto;
    .showText{
        color: #14002F;
        width: 567rem;
        height: 70rem;
        font-size: 20rem;
        border-bottom: 1rem solid #14002F;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

    }
    .showText1{
        color: #14002F;
        width: 567rem;
        height: 70rem;
        font-size: 30rem;
        border-bottom: 1rem solid #14002F;
        text-align: center;
        flex-direction: column;
        >span{
            font-size: 16rem;
        }
    }
    .showItem{
        
    }
  }